<div class="app-container">
    <div class="header">
      <img src="../assets/Doctorlogo.png" alt="" class="logo" />
    </div>
    <div class="doctor-image">
      <img src="https://tse4.mm.bing.net/th?id=OIP.gSaeh0JDdD1Gze_qGGPbggHaId&pid=Api&P=0&h=220" alt="Doctor Image" />
    </div>
    <h1>Best Doctor Appointment App</h1>
    <p>Manage and schedule all of your medical appointments easily with Docdoc to get a new experience.</p>
    <button (click)="getStarted()">Get Started</button>
  </div>
  